body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgba(52, 53, 65);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.input {
  align-content: center;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  margin: 10px;
}

.input:focus {
  border-color: #2196f3;
  outline: none;
}

.input::placeholder {
  color: #888888;
}

.list {
  
  list-style-type: none;
}

.bin{
  background: none;
  border: none;
  margin-left: 20px;
  transition: 0.6s ease;
  color: rgb(226, 226, 226);
}

.bin:hover{
  color: rgb(150, 72, 72);
  filter : drop-shadow(0px 0px 1px rgba(226, 226, 226, 0.322));
}

.todo-intem-enter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(226, 226, 226);
  background-color: rgb(71, 72, 87);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
  padding: 10px 20px 10px 20px;
  margin: 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.3s ease-out;
}

.todo-item-enter-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(226, 226, 226);
  background-color: rgb(71, 72, 87);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
  padding: 10px 20px 10px 20px;
  margin: 10px;
  opacity: 1;
  transform: translateY(0);
}

.form-input{
  margin: 10px;
  align-content: center;
  
}

.logout-button{
  align-content: center;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: #f44336;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 15px;

}

.button {
  display: inline-block;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  background-color: #ff5722;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #f4511e;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.button:active {
  background-color: #e64a19;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.logout-button:hover{
  background-color: #c62828;
}

.checkbox-container {
  align-content: center;
  margin: 10px;
  margin-bottom: 30px;
}

.add-task{
  border-radius: 10px;
  padding: 5px;
  border: none;
  box-shadow: inset 0px 0px 3px black;
}

.add-task-icon{
  padding: 1px 2.5px 1px 2.5px;
  transition: 0.6s ease;
  border: 2px solid black;
  border-radius: 25px;
  background: none;
  margin-left: 5px;
}

.add-task-icon:hover{
  cursor: pointer;
  color: rgb(72, 155, 90);
  box-shadow: 0px 0px 3px rgba(72, 155, 90);
  border-color: rgba(72, 155, 90);
}

.icon-plus{
  position: relative;
  top: 1.5px;
}

.table-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 600px; 
  margin: 20px auto; 
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.02);
}

.table tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown {
  margin-left: 15px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
  width: 200px;
  font-size: 20px;
}

.dropdown-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.dropdown-select:focus {
  border-color: #2196f3;
  outline: none;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px; /* Ajusta este valor según la altura deseada */
  overflow-y: auto;
  z-index: 1;
}

.dropdown-option {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f5f5f5;
}